
.venv/


secrets/


.venv/


**/node_modules/


secrets/


ingest/api/.env


# Node/Next
**/node_modules/
**/.next/


# Local env files
**/.env.local


postcss.config.mjs


# Local env files
ingest/api/.env


*.bak

